<!-- Copyright 2020 Oliver Smith
     SPDX-License-Identifier: GPL-3.0-or-later -->

<p class="distro-links">
	<a href="https://mobian-project.org">homepage</a> -
	<a href="https://wiki.mobian-project.org">wiki</a>
</p>
